ul {
    list-style-type: none;
    padding: 0;
  }
  .message {
    background: #01A6FF;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 15px -7px #000000;

  }
  .top-button-filter {
    a {
      cursor: pointer;
    }
  }

