<div class="container">
  <div class="top-button">
      <ul>
        <li>
          <button (click)="afficherFilms()"><i class="fas fa-film"></i>Les Films</button>
        </li>
        <li>
          <button (click)="afficherFavoris()"><i class="fas fa-heart"></i>Mes Favoris</button>
        </li>
        <li>
          <button (click)="afficherWatchlist()"><i class="fas fa-eye"></i>Film à voir</button>
        </li>
      </ul>
  </div>
  <ng-container
    *ngIf="!afficherLesFavoris && !afficherLaWatchlist; else autresComposants"
  >
    <app-film-list
    [films]="films"
    >

    </app-film-list>
  </ng-container>
  <ng-template #autresComposants>
    <ng-container *ngIf="!afficherLaWatchlist; else watchlist">
      <app-film-favoris></app-film-favoris>
    </ng-container>
    <ng-template #watchlist>
      <app-watchlist></app-watchlist>
    </ng-template>
  </ng-template>
</div>
